/* banner related style */
body{
    margin: 0;
    padding: 0;
}

.btn-btn-primary{
    background-color: #E55473;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.btn-btn-primary:hover{
    background-color: rgb(88, 125, 203);
    color: black;
    transition-duration: 0.5s;
}

header{
    background-color: #f4e5e8;
}

.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.banner-title{
    font-size: 50px;
    font-weight: 600;
}

.paragaph{
    font-size: 18px;
    font-weight: 500;
}

.banner-immage{
    width: 581px;
}

main{
    margin: 0 200px;
}

/* fetured related style */
.fetured-area{
    margin-top: 100px;
    margin-bottom: 100px;
}
.fetured-title{
    font-size: 28px;
    font-weight: 600;
}


.section-title{
    text-align: center;
    margin-bottom: 70px;
}

.flower-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-box-1{
    background-color: #f4e5e8;
    padding-top: 20px;
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
}
.single-box-2{
    background-color: #b3edb5;
    padding-top: 20px;
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
}
.single-box-3{
    background-color: #f4e5e8;
    padding-top: 20px;
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
}

.para{
    text-align: center;
    text-decoration: underline;
}

/* quality related style */
.quality-area{
    background-color: #f4e5e8;
    padding: 30px;
}

.devide-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}

.text-para{
    text-align: center;
}

.signup-section{
    background-color: #f4e5e8;
    margin: 100px 0;
    padding: 20px;
}

.HOT-DEAL{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 300px;
}
/* Instagram-section */
.Instagram-section{
    margin: 100px 0;
}

.instagram{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    gap: 20px;
}

.flower{
    width: 250px;
}

.title{
    font-size: 40px;
    font-weight: 600;
}